/* Header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 30px 100px;
}

.header__section__menu {
    display: flex;
    justify-content: space-between;

    flex-basis: 30%;
}

.header__section__logo {
    display: flex;
    justify-content: center;

    flex-basis: 33%;
}

.header__section__login {
    display: flex;
    justify-content: space-around;

    flex-basis: 25%;
}

.header__section__login__veterinarian-login {
    text-decoration: none;
}

.header__section__menu__veterinars,
.header__section__menu__how-it-works,
.header__section__menu__about-us,
.header__section__menu__blog,
.header__section__menu__shop,
.header__section__login__veterinarian-login,
.header__section__login__buttom__try-mixlab {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.header__section__login__veterinarian-login {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #6F1EAA;
}

.header__section__login__buttom__try-mixlab {
    display: flex;
    justify-content: center;
    padding: 9px 33px 10px 33px;
    border-radius: 19px;

    background-color: #6F1EAA;
    border: none;
    color: white;
    text-decoration: none;
}