/* Main */
.main__section__main {
    display: flex;
    align-items: center;
    padding-top: 50px;

    flex-direction: column;
    height: 400px;

    background-color: #FEF7E5;
}

.main__section__main__h1 {
    display: flex;
    width: 565px;
    flex-wrap: wrap;

    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 67px;
}

.main__section__main__div__text {
    display: flex;
    width: 450px;
    flex-wrap: wrap;

    margin-top: 10px;

    text-align: center;
    font-size: 20px;
}

.main__section__main__buttom {
    display: flex;
    justify-content: center;
    padding: 9px 33px 10px 33px;
    border-radius: 19px;

    margin-top: 20px;

    background-color: #6F1EAA;
    border: none;
    color: white;
    text-decoration: none;
}

.main__section__main__h1,
.main__section__main__div__text,
.main__section__main__buttom {
    font-family: 'Roboto', sans-serif;
}